<!--
  Generated template for the SessionDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title *ngIf="session">{{session.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="session">
    <h1>{{session.name}}</h1>
    <h4 *ngFor="let speakerName of session.speakerNames">
      {{speakerName}}
    </h4>
    <p>
      {{session.timeStart}} - {{session.timeEnd}}
    </p>
    <p>{{session.location}}</p>
    <p>{{session.description}}</p>
  </div>
</ion-content>