<!--
  Generated template for the SessionDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{(session | async)?.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="session">
    <h1>{{(session | async)?.name}}</h1>
    <h4 *ngFor="let speakerName of (session | async)?.speakerNames">
      {{(speakerName | async)}}
      <!-- {{(((session | async)?.speakerNames[0]) | async)?.name}} -->
    </h4>
    <p>
      {{(session | async)?.timeStart}} - {{(session | async)?.timeEnd}}
    </p>
    <p>{{(session | async)?.location}}</p>
    <p>{{(session | async)?.description}}</p>
  </div>
</ion-content>